* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f1f1f1;    */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    /* background-color: greenyellow; */
    width: 400px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#game .head {
    background-color: #eee;
    height: 40px;
    text-align: center;
}

#game .head h2 span,
#game .bottom h6 span {
    color: rgb(180, 10, 214);
    text-transform: uppercase;
}

#game .bottom {
    background-color: #eee;
    height: 20px;
    text-align: center;
}

#game .boxes {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#game .boxes .box {
    background-color: #fff;
    width: calc(100% / 3 - 15px);
    margin: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(180, 10, 214);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 500ms;
    user-select: none;
}

#game .boxes .box:hover {
    background-color: #222;
}